
<% if flash[:signinwrong] %>
	<h1 class="flashnotice"><%= flash[:signinwrong] %></h1>  
<% end %>
<form action="/signin" method="POST">
	<input type="email" name="email" placeholder="email">
	<input type="password" name="password" placeholder="password">
	<input type="submit" name="signin" value="signin">
<form>

<% if flash[:usedemail] %>
	<h1 class="flashnotice"><%= flash[:usedemail] %></h1>  
<% end %>
<% if flash[:diffpassword] %>
	<h1 class="flashnotice"><%= flash[:diffpassword] %></h1>  
<% end %>
<form action="/signup" method="GET">
	<input type="text" name="fname" placeholder="first name">
	<input type="text" name="lname" placeholder="last name">
	<input type="email" name="email" placeholder="email">
	<input type="password" name="password" placeholder="password">
	<input type="password" name="confirm_password" placeholder="confirm password">
	<input type="submit" name="signup" value="signup">
<form>