<div class="leftpage">
	<img src="/dummy.jpg" alt="dummy profile image">
	<div class="editbutton"><%= "Edit" %></div>
	<div class="leftline1">
		<h1><%= @user.fname %></h1>
		<h1><%= @user.lname %></h1>
	</div>
</div>
<div class="rightpage">
</div>