<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheet.css">
	<title>Settings</title>
</head>
<body>
	<div class="maincontainer">
		<div class="navbar">
			<img class="logo" src="/logo.png">
			<ul class="navlinks">
				<li><a href="/profile">Profile</a></li>
				<li><a href="/feed">Feed</a></li>
				<li><a href="/settings">Settings</a></li>
			</ul>
		</div>

		<div id="settings container">
		</div>
	</div>
</body>
</html>